h1 ,h2{
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  display:block;

}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
html {
  background-color: #A9A9A9;
  bacground: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) );
}


body {
  display:grid
  grid-gap:20px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr;
  width: 1100px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  border: 4px solid black;
  height:window;
  border-radius: 5px;
  padding: 10px;
}

.full-img {
  position: relative;
  display: block;
  width: 1100px;
  height: 1100px;
  allign: center;
    overflow:auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1100px;
  height: 1100px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: flex;
  flex:1;
  width: 20%;
  float: left;
  cursor: pointer;
  overflow:auto;
  margin-bottom: 200px;
  height: 281px;

}



.eventhandlertest div {
  background-color:red;
  height: 100px;
  width: 25%;
  float: left;
}

div {
   margin-bottom: 10px;
 }

 form{
   /*just to center the form on the center of the page*/
   margin:0 auto;
   width:1200px;
   /*to see the outline of the form */
   padding:1em;
   border:1px solid #CCC;
   border-radius: 1em;
 }

 form div + div{
   margin-top:1em;
 }
 label {
   /*to make sure that all labels have the same size and are properly alligned */
   display: inline-block;
   width:90px;
   text-align:right;
 }
 input, textarea{
   /*to make sure that all text fields have the same font settings, by default, textareas have a monospace font */
   font: 1em sans-serif;
   /* to give the same size to all text fields  */
   width:300px;
   box-sizing:border-box;
   /* to harmonize the look and feel of text field border */
   border:1px solid #999
 }

 input:focus, textarea:focus {
   /* To give a little highlight on active elements */
   border-color: #000;
 }

 textarea {
   /* To properly align multiline text fields with their labels */
   vertical-align: top;

   /* To give enough room to type some text */
   height: 5em;
 }
 table {
    table-layout: auto;
   border-collapse: collapse;
   border: 2px solid rgb(200,200,200);
   letter-spacing: 1px;
   font-size: 0.8rem;
   font:inherit;
 }

 td, th {
   border: 1px solid rgb(190,190,190);
   padding: 10px 20px;
 }

 th {
   background-color: rgb(235,235,235);
 }

 td {
   text-align: center;
 }

 tr:nth-child(even) td {
   background-color: rgb(250,250,250);
 }

 tr:nth-child(odd) td {
   background-color: rgb(245,245,245);
 }

 caption {
   padding: 10px;
 }
